<!--  Body Wrapper Start -->
<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
  data-sidebar-position="fixed" data-header-position="fixed">

  <!--  Sidebar component start -->
  <app-sidebar></app-sidebar>
  <!--  Sidebar component End-->

  <!--  Main wrapper -->
  <div class="body-wrapper">

    <!--  Header Component Start -->
    <app-nav></app-nav>
    <!--  Header Component End -->
    <div class="container-fluid">

      <!-- Charts Row 1 Start -->
      <app-charts></app-charts>
      <!-- Charts Row 1 End -->

      <!-- Transactions Row 2 Start -->
      <app-transactions></app-transactions>
      <!-- Transactions Row 2 End -->

    </div>
  </div>
</div>
<!--  Body Wrapper End -->
