<!-- Sidebar Start -->
<aside class="left-sidebar">
  <!-- Sidebar scroll-->
  <div>
    <div class="brand-logo d-flex align-items-center justify-content-between">
      <a routerLink="" routerLinkActive="router-link-active" class="text-nowrap logo-img">
        <img src="../assets/images/logos/dark-logo.svg" width="180" alt="" />
      </a>
      <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
        <i class="ti ti-x fs-8"></i>
      </div>
    </div>
    <div class="" style="display: flex;justify-content: center;align-items: center;">
      <div class="">Admin Panel&nbsp;&nbsp;&nbsp;</div>
      <div class=""><i class="mdi mdi-laptop mdi-24px text-danger me-1"></i></div>
    </div>
    <!-- Sidebar navigation-->
    <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
      <ul id="sidebarnav">
        <li class="nav-small-cap">
          <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
          <span class="hide-menu">Home</span>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" routerLink="/admin/dashboard" routerLinkActive="router-link-active" aria-expanded="false">
            <span>
              <i style="color: red;" class="ti ti-layout-dashboard"></i>
            </span>
            <span class="hide-menu">Dashboard</span>
          </a>
        </li>
        <li class="nav-small-cap">
          <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
          <span class="hide-menu">COMPONENTS</span>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" routerLink="/admin/order" routerLinkActive="router-link-active" aria-expanded="false">
            <span>
              <!-- <i class="ti ti-alert-circle"></i> -->
              <span style="color: #FFB400;" class="material-symbols-outlined">
                orders
                </span>
            </span>
            <span class="hide-menu">Orders</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" routerLink="/admin/users" routerLinkActive="router-link-active" aria-expanded="false">
            <span>
              <!-- <i class="ti ti-article"></i> -->
              <span style="color: green;" class="material-symbols-outlined">
                person
                </span>
            </span>
            <span class="hide-menu">Users</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" routerLink="/admin/recipes" routerLinkActive="router-link-active"
            aria-expanded="false">
            <span>
              <!-- <i class="ti ti-cards"></i> -->
              <span style="color: #16B1FF;" class="material-symbols-outlined">
                restaurant
                </span>
            </span>
            <span class="hide-menu">Recipes</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" routerLink="/admin/flavour" routerLinkActive="router-link-active"
            aria-expanded="false">
            <span>
              <!-- <i class="ti ti-cards"></i> -->
              <span style="color: #FF8F8F;" class="material-symbols-outlined">
                cooking
                </span>
            </span>
            <span class="hide-menu">Flavours</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" routerLink="/admin/books" routerLinkActive="router-link-active" aria-expanded="false">
            <span>
              <!-- <i class="ti ti-file-description"></i> -->
              <span style="color: #706233;" class="material-symbols-outlined">
                menu_book
                </span>
            </span>
            <span class="hide-menu">Books</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" routerLink="/admin/usersrecipies" routerLinkActive="router-link-active"
            aria-expanded="false">
            <span>
              <!-- <i class="ti ti-typography"></i> -->
              <span style="color: #FF5B22;" class="material-symbols-outlined">
                restaurant_menu
                </span>
            </span>
            <span class="hide-menu">User's Recipies</span>
          </a>
        </li>
        <li class="nav-small-cap">
          <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
          <span class="hide-menu">Recipe Winners</span>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" routerLink="/admin/selectedrecipies" routerLinkActive="router-link-active"
            aria-expanded="false">
            <span>
              <!-- <i class="ti ti-login"></i> -->
              <span style="color: #13DEB9;" class="material-symbols-outlined">
                check_circle
                </span>
            </span>
            <span class="hide-menu">Selected Recipes</span>
          </a>
        </li>
      </ul>
    </nav>
    <!-- End Sidebar navigation -->
  </div>
  <!-- End Sidebar scroll-->
</aside>
<!--  Sidebar End -->
