<!--  Body Wrapper Start -->
<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
  data-sidebar-position="fixed" data-header-position="fixed">

  <!--  Sidebar component start -->
  <app-sidebar></app-sidebar>
  <!--  Sidebar component End-->

  <!--  Main wrapper -->
  <div class="body-wrapper">

    <!--  Header Component Start -->
    <app-nav></app-nav>
    <!--  Header Component End -->
    <div class="container-fluid">
      <!-- Registered Users Table Start -->
      <!-- Striped Rows -->
      <div class="card">
        <div class="" style="display: flex; justify-content: space-between">
          <h5 class="card-header">Books</h5>

          <div style="margin: 10px;" routerLink="/admin/addbook">
            <button class="btn btn-primary" style="display: flex;"> <span class="material-symbols-outlined"
                style="padding-right: 3px;"> add </span> Add Book</button>
          </div>

        </div>
        <div class="table-responsive text-nowrap">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Book ID</th>
                <th>Book Name</th>
                <th>Author</th>
                <th>Rating</th>
                <th>Status</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody class="table-border-bottom-0" *ngFor="let b of booksData">
              <tr>
                <td>{{b.id}}</td>
                <td>{{b.bookName}}</td>
                <td>{{b.Author}}</td>
                <td>{{b.Rating}}</td>
                <td>{{b.status}}</td>
                <td>
                  <div class="dropdown">
                    <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                      <i class="mdi mdi-dots-vertical"></i>
                    </button>
                    <div class="dropdown-menu">
                      <div class="btn btn-primary"
                        style="margin-bottom: 5px;display: flex; justify-content: center; align-items: center;cursor: pointer;">
                        <span style="color:#5FBDFF; margin-right: 5px;" class="material-symbols-outlined">
                          edit
                        </span>
                        <a>Edit</a>
                      </div>
                      <div (click)="getDeleteId(b.id)" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal"
                        style="margin-bottom: 5px;display: flex; justify-content: center; align-items: center; cursor: pointer;">
                        <span style="color:Red; margin-right: 5px;" class="material-symbols-outlined">
                          Delete
                        </span>
                        <a>Delete</a>
                      </div>

                      <div  class="btn btn-warning"style="margin-bottom: 5px;display: flex; justify-content: center; align-items: center; cursor: pointer;">
                        <span style="color:#C63D2F; margin-right: 5px;" class="material-symbols-outlined">
                          download
                        </span>
                        <a>Download Book</a>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>
      <!--/ Striped Rows -->
      <!-- Registered Users Table End -->


    </div>
  </div>
</div>
<!--  Body Wrapper End -->




<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Record Delete</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <p><strong>Are you sure you want to delete <span class="text-primary">{{booksname}}</span> Book</strong>
        </p>
        <p><strong>Book ID <strong class="text-danger" style="color: red !important;">{{booksId}}</strong></strong>
        </p>
        <p> All information associated to this Flavour will be permanently deleted. <span
            style="color: red !important; font-weight: bold;" class="text-danger">This
            operation can not be undone.</span></p>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger customDeleteBtn" data-bs-dismiss="modal"
          (click)="ConfirmDelete()">Delete
          Record</button>
      </div>
    </div>
  </div>
</div>

