<!--  Body Wrapper Start -->
<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
  data-sidebar-position="fixed" data-header-position="fixed">

  <!--  Sidebar component start -->
  <app-sidebar></app-sidebar>
  <!--  Sidebar component End-->

  <!--  Main wrapper -->
  <div class="body-wrapper">

    <!--  Header Component Start -->
    <app-nav></app-nav>
    <!--  Header Component End -->
    <div class="container-fluid">


      <form [formGroup]="recipeForm" (ngSubmit)="save()">
        <div class="" style="box-shadow: 1px 1px 30px 1px rgba(0, 0, 0, 0.463);padding: 15px; border-radius: 10px;">

          <div class="mb-4">
            <h1 style="border-radius: 8px; font-weight: bold;">Add <span style="color:#6499E9;">Flavour</span></h1>
          </div>
          <div class="d-flex">

            <div class="" style="width: 50%; padding: 10px;">


              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Recipe Name</label>
                <input type="text" class="form-control" placeholder="Recipe Name" formControlName="Recipe_Name">
                <div
                  *ngIf="recipeForm.get('Recipe_Name')?.invalid && (recipeForm.get('Recipe_Name')?.dirty || recipeForm.get('Recipe_Name')?.touched)">
                  <div *ngIf="recipeForm.get('Recipe_Name')?.hasError('required')" style="color: red;">Recipe Name
                    Required
                  </div>
                  <div *ngIf="recipeForm.get('Recipe_Name')?.hasError('minlength')" style="color: red;">Recipe Name must
                    be
                    at
                    least 5 characters</div>
                  <div *ngIf="recipeForm.get('Recipe_Name')?.hasError('maxlength')" style="color: red;">Maximum length
                    exceeded (max 30 characters)</div>
                  <div *ngIf="recipeForm.get('Recipe_Name')?.hasError('pattern')" style="color: red;">Please enter only
                    letters and spaces.</div>
                </div>
              </div>


              <div class="mb-3 mt-4">
                <button type="submit" class="btn btn-primary" [disabled]="recipeForm.invalid">Submit</button>
              </div>

            </div>
          </div>

        </div>


      </form>

    </div>
  </div>
</div>
<!--  Body Wrapper End -->
